In [26]:
# Imports Pandas and sets display settings.
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.options.display.float_format = '{:.0f}'.format

In [ ]:
# Enables the %%sql magic for cells in a notebook. The output of a SQL cell can be referenced by [VARIABLE] = _ (underscore).
from IPython.core.magic import register_cell_magic
from pandasql import sqldf

@register_cell_magic
def sql(line, cell):
    query = sqldf(cell)
    return query.head()

In [28]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Math': [85, 78, 92, 88, 77],
    'Science': [90, 82, 95, 85, 80],
    'English': [88, 74, 91, 89, 78]
})

In [29]:
df["Math"] = df["Math"].astype(str)

In [30]:
%%sql
SELECT
    Name
    ,Math
    ,Science
FROM
    df

      Name Math  Science
0    Alice   85       90
1      Bob   78       82
2  Charlie   92       95
3    David   88       85
4      Eva   77       80